body{
	padding:  2%;
	text-align: center;
	background-color: #F0E9D2;
}

p {
	font: caption;
	color:  #678983;
}

h1{
	margin-bottom: 5%;
	text-color:  #181D31;
}

.caracteristic-sys, thead td{
	font-weight: bold;
}

#system-description {
	text-align: left;
	width:  50%;
}

#system-description p .caracteristic-sys{
	font-size:  15px;
}

#card-system{
	width:  70%;
	margin:  1% auto;
	padding:  2%;
	background-color: #E6DDC4;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,.2);
}

#card-caract-image-container{
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	align-items: center;
}

#system-image-container{
	width: 50%;
}

.system-image{
	width: 80%;
}

#container-test {
	width:  85%;
	margin:  2% auto;
}

table{
	margin:  3% auto;
	width:  80%;
}

tr td {
	border: 1px black solid;
}

td {
	padding:  7px 10px;
	color:  #678983 ;
}

.generate-rapport {
	color:  #CDAC81;
	font-style: italic;
	font-weight: bold;
	font-variant-caps: small-caps;
	cursor: pointer;
}

#container-new-test{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin:  4% 0;
}

#container-new-test div {
	margin:  1% 0;
}


.btn-grad-val {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-grad-cancel {background-image: linear-gradient(to right, #F00000 0%, #DC281E  51%, #F00000  100%)}

.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
