<!DOCTYPE html>
<html>
    <head th:include="../fragments/template :: head(~{::title})">
    	<title>System Presenation</title>
	</head>
	<body>

		<div id="card-system">
			<h1>System Presentation Page</h1>

			<div id="card-caract-image-container">
				<div id="system-description">
					<p><span class="caracteristic-sys">System Name:</span> [[${title}]]</p>
					<p><span class="caracteristic-sys">System Description:</span> [[${description}]]</p>
					<p><span class="caracteristic-sys">System Id:</span> [[${id}]]</p>
					<p><span class="caracteristic-sys">Numbers of Tests:</span> [[${nbrTest}]]</p>
					<div th:replace="../fragments/template :: footer"></div>
				</div>
				<div id="system-image-container">
					<img class="system-image" src="../../ressources/medias/robotic-arm.jpg">
				</div>
			</div>
		</div>
	</body>
</html>